ul {
  color: black;
}

.style {
  color: white;
  background-color: var(--color-primary);
  border-radius: 8px;
  border-color: var(--colour-light);
}

.style-2 {
  color: white;
  background-color: var(--color-secondary);
  border-radius: 8px;
  border-color: var(--colour-light);
}

.bg {
  background-color: var(--color-neutral-beige);
  border-top: 4px solid var(--color-primary);
}
