span {
  color: black;
}

.text-dec {
  text-decoration: none;
}

nav span {
  border-right: black 2px solid;
}

li:last-child span {
  border-right: 0;
}

nav a:hover {
  background-color: var(--color-primary);
  color: white;
}

ul {
  border-bottom: 4px solid var(--color-primary);
}

h2 {
  color: black;
  border-bottom: 4px solid var(--color-primary);
}

h3 {
  color: var(--color-primary);
}
