html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

form {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

label {
  color: white;
}

legend {
  color: white;
}

p {
  color: white;
}

input {
  border-color: black;
}

textarea {
  border-color: black;
}

select {
  border-color: black;
}

fieldset {
  padding: 0;
  border: 0;

}

legend {
  padding-right: 1rem;
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: var(--color-secondary);
  color: #c33;
}

.error-message-highlighted {
  background-color: var(--color-secondary);
  color: black;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated textarea:invalid + .error-message,
.is-validated select:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}
