:root {
  --color-primary: #A8BF78;
  --color-primary-light: #CEDBB3;
  --color-secondary: black;
  --color-accent: #fff1e3;
  --color-neutral-beige: #EBF0DF;
  --color-whatever: #EFEBF0;

  --font-primary: sans-serif;
  --font-secondary: "Roboto Slab", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: white;
}

p {
  font-family: var(--font-secondary);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

ul {
  font-family: var(--font-secondary);
}

ol {
  font-family: var(--font-secondary);
}

blockquote {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

mark {
  background-color: white;
}
